.nav{max-width: none;
    margin: 0;
}   
.bg-light{background-color: #f99605 !important;
    text-transform: uppercase;
    font-family: 'Gugi', cursive;
}
body{background-image: url("../images/geometry.jpg ");
    background-repeat: repeat;
}
.bg-light a:hover{color:#f9585e;
}
h1{background-color: #51a0c9;
    font: black; 
    font-family: 'Gugi', cursive;
    font-size: 35px;
}
.jumbotron{
    max-width: 80%;
    background-color: #51a0c9;
    font-size: 20px;
    font-family: 'Gugi', cursive;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.container1{
    display: flex;
    height: 500px;
}
.card{
    width: 300px;
    margin: 10px;
    border: none;
    padding: 0;
    display: inline-block;
}
.mypic{
    min-width: 350px;
    margin-left: 20px;
}
.bio{
    margin-right: 20px;
}