.container{color: black;
    font-family: 'Gugi', cursive;
    font-size: 25px;
    margin-top: 20px;
    max-width: 1500px;
    align-content: center;
}
.nav{max-width: none;
    margin: 0;
}   
.bg-light{background-color: #f99605 !important;
    text-transform: uppercase;
    font-family: 'Gugi', cursive;
}
body{background-image: url("../images/geometry.jpg ");
    background-repeat: repeat;
    font-size: 26px;
    padding: 5px;
}
h1{background-color: #51a0c9;
    font: black; 
    font-family: 'Gugi', cursive;
    font-size: 35px;
}
p{font-size: 20px;
    background-color: #51a0c9;
    font: black; 
    font-family: 'Gugi', cursive;
    padding: 5px;
    margin-top: 5px;
}
.card-img-top{float: left;
}
.bg-light a:hover{color:#f9585e;
}
.bio{
    font-size: 20px;
    background-color: #51a0c9;
    font: black; 
    padding: 5px;
}
.table{margin: auto;


}
.list-group-item{background-color: #51a0c9;
    font-family: 'Gugi', cursive;
    font-size: 20px;
    text-align: center;
    align-content: center;
}
.form-group{font-size: 20px;
    font: black; 
    padding: 5px;
}
.jumbotron{
    max-width: 80%;
    text-align: center;
    margin: 20px auto;
    background-color: #51a0c9;
}